<template>
    <div style="height: 100%;">
        <v-navigation-drawer app clipped>
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title class="title">
                        Krixano
                    </v-list-item-title>
                    <v-list-item-subtitle>krixano@outlook.com</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>

            <v-list dense nav>
                <v-list-item link v-for="(item, i) in main_nav" :key="'main_' + i" ripple :to="item.to" color="primary">
                    <v-list-item-icon v-if="item.icon"><v-icon>{{ item.icon }}</v-icon></v-list-item-icon>
                    <v-list-item-content><v-list-item-title>{{ item.name }}</v-list-item-title></v-list-item-content>
                </v-list-item>

                <!--<v-divider style="margin-top: 4px; margin-bottom: 4px;"></v-divider>-->
                <v-divider></v-divider>
                <v-subheader>September, 2019</v-subheader>
                <v-list-item link v-for="(item, i) in relative_collections" :key="'relative_collection_' + i" :to="item.to" ripple color="primary">
                    <v-list-item-icon v-if="item.icon"><v-icon>{{ item.icon }}</v-icon></v-list-item-icon>
                    <v-list-item-content><v-list-item-title>{{ item.name }}</v-list-item-title></v-list-item-content>
                </v-list-item>

                <v-divider></v-divider>
                <v-subheader>Starred Collections</v-subheader>
                
                <v-list-item link v-for="(item, i) in starred_collections" :key="'starred_collection_' + i" :to="item.to" ripple>
                    <v-list-item-icon v-if="item.icon"><v-icon>{{ item.icon }}</v-icon></v-list-item-icon>
                    <v-list-item-content><v-list-item-title>{{ item.name }}</v-list-item-title></v-list-item-content>
                </v-list-item>

                <v-divider style="margin-top: 4px; margin-bottom: 4px;"></v-divider>
                <v-list-item link ripple color="primary">
                    <v-list-item-content><v-list-item-title>Create Collection</v-list-item-title></v-list-item-content>
                </v-list-item>
                <v-list-item link ripple color="primary">
                    <v-list-item-content><v-list-item-title>Keyboard Shortcuts</v-list-item-title></v-list-item-content>
                </v-list-item>
                <v-list-item link ripple color="primary">
                    <v-list-item-content><v-list-item-title>About</v-list-item-title></v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-content app style="height: 100%;">
            <!--<v-slide-x-transition leave-absolute>-->
                <router-view></router-view>
            <!--</v-slide-x-transition>-->
        </v-content>
    </div>
</template>
<script>
export default {
    data: () => {
        return {
            main_nav: [
                { name: "Dashboard", to: "/app/dashboard" },
                { name: "Index", to: "index" },
                { name: "Future Log", to: "futurelog" },
                { name: "Migrations", to: "migrations" },
            ],
            relative_collections: [
                { name: "Month Log", to: "thismonth" },
                { name: "Daily Logs", to: "today" },
                { name: "Upcomming", to: "upcomming" }
            ],
            starred_collections: [
                { name: "Fall Schedule, 2019", to: "fall_sched_2019" },
                { name: "Reading List", to: "readinglist" },
            ]
        };
    }
}
</script>