<template>
    <v-carousel cycle hide-delimiter-background show-arrows-on-hover>
        <v-carousel-item v-for="(slide, i) in slides" :key="i">
            <v-sheet :color="slide.color" height="100%" tile>
            <v-row class="fill-height" align="center" justify="center">
                <div class="display-3" style="font-family: 'Nothing You Could Do', cursive !important;">{{ slide.text }}</div>
            </v-row>
            </v-sheet>
        </v-carousel-item>
    </v-carousel>
</template>
<script>
export default {
    data: () => {
    	return {
            slides: [
                { color: 'secondary', text: "Welcome to LifeKept!" },
                { color: 'primary', text: "Testing" },
            ]
    	}
    }
}
</script>