<template>
    <div style="max-width: 700px; margin: auto; margin-top: 20px;">
        <div class="title text-center" style="margin-bottom: 8px;">Fall Schedule, 2019</div>
        <v-card>
            <v-list dense>
                <v-subheader>Monday, Wednesday, Friday</v-subheader>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon>radio_button_unchecked</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Data Structures</v-list-item-title>
                        <v-list-item-subtitle>Scheduled: MWF 9:30am - 11:00</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon>radio_button_unchecked</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Intro to Old Testament</v-list-item-title>
                        <v-list-item-subtitle>Scheduled: MWF 9:30am - 11:00</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon>radio_button_unchecked</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Networking</v-list-item-title>
                        <v-list-item-subtitle>Scheduled: MWF 9:30am - 11:00</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-subheader>Tuesday, Thursday</v-subheader>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon>radio_button_unchecked</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Music Appreciation</v-list-item-title>
                        <v-list-item-subtitle>Scheduled: TTh 9:00am - 10:00</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon>radio_button_unchecked</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Graphic Design</v-list-item-title>
                        <v-list-item-subtitle>Scheduled: TTh 1:00pm - 2:00</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-subheader>Friday Only</v-subheader>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon>radio_button_unchecked</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>CSCI Intensive Study</v-list-item-title>
                        <v-list-item-subtitle>Scheduled: F 8:00am - 9:00</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-card>
    </div>
</template>
<script>
export default {
    
}
</script>