<template> <!-- TODO: Add transition stuff to all lists -->
    <div style="height: 100%;">
        <v-row style="height: 100%; margin-left: 4px; margin-right: 4px;">
            <v-col cols="12" sm="8">
                <v-row>
                    <v-col cols="12" sm="6">
                        <v-sheet height="300">
                            <v-calendar v-model="selectedDate" type="month" :now="currentDate" :value="selectedDate" :events="events"></v-calendar>
                        </v-sheet>
                    </v-col>
                    <v-col cols="12" sm="6">
                        <div class="title text-center" style="margin-bottom: 8px;">Today's Events</div>
                        <v-card>
                            <v-list dense>
                                <v-list-item>
                                    <v-list-item-action>
                                        <v-icon>radio_button_checked</v-icon>
                                    </v-list-item-action>
                                    <v-list-item-content>
                                        <v-list-item-title>Data Structures</v-list-item-title>
                                        <v-list-item-subtitle>9:30am - 11:00</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-action>
                                        <v-icon>radio_button_checked</v-icon>
                                    </v-list-item-action>
                                    <v-list-item-content>
                                        <v-list-item-title>Intro to Old Testament</v-list-item-title>
                                        <v-list-item-subtitle>9:30am - 11:00</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-action>
                                        <v-icon>radio_button_checked</v-icon>
                                    </v-list-item-action>
                                    <v-list-item-content>
                                        <v-list-item-title>Networking</v-list-item-title>
                                        <v-list-item-subtitle>9:30am - 11:00</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" sm="6">
                        <div class="title text-center" style="margin-bottom: 8px;">This Month's Log</div>
                        <v-card>
                            <v-list dense>
                                <v-list-item>
                                    <v-list-item-action>
                                        <v-checkbox></v-checkbox>
                                    </v-list-item-action>
                                    <v-list-item-content>
                                        <v-list-item-title>Start LifeKept</v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-card>
                    </v-col>
                    <v-col cols="12" sm="6">
                        <div class="title text-center" style="margin-bottom: 8px;">Today's Log</div>
                        <v-card>
                            <v-list dense>
                                <v-list-item>
                                    <v-list-item-action>
                                        <v-checkbox></v-checkbox>
                                    </v-list-item-action>
                                    <v-list-item-content>
                                        <v-list-item-title>LifeKept: Dashboard page</v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-action>
                                        <v-icon>radio_button_unchecked</v-icon>
                                    </v-list-item-action>
                                    <v-list-item-content>
                                        <v-list-item-title>Music Appreciation Test</v-list-item-title>
                                        <v-list-item-subtitle>Scheduled: September 19, 9:00am - 10:00</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-card>
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="12" sm="4">
                <div class="title text-center" style="margin-bottom: 8px;">Migrations</div>
                <v-card>
                    <v-list dense>
                        <v-subheader>From Yesturday</v-subheader>
                        <v-list-item>
                            <v-list-item-action>
                                <v-checkbox></v-checkbox>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>Test</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-subheader>From Last Week</v-subheader>
                        <v-list-item>
                            <v-list-item-action>
                                <v-checkbox></v-checkbox>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>Test</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-action>
                                <v-checkbox></v-checkbox>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>Test 2</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-subheader>From Last Month</v-subheader>
                        <v-list-item>
                            <v-list-item-action>
                                <v-checkbox></v-checkbox>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>LifeKept: Dashboard Page</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-subheader>From Future Log</v-subheader>
                        <v-list-item>
                            <v-list-item-action>
                                <v-checkbox></v-checkbox>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>Study for Networking Test</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
                <!--<p>Daily, Monthly on start of month, Weekly on start of week, Future Log</p>-->
            </v-col>
        </v-row>

        <v-scale-transition>
            <v-btn fab fixed bottom right color="primary"><v-icon>mdi-plus</v-icon></v-btn>
        </v-scale-transition>
    </div>
</template>
<script>
export default {
    data: function() {
        return {
            events: [],
            currentDate: null,
            selectedDate: null
        }
    },
    // TODO: Get the UTC time from the server so that we make
    // sure the date is always correct even if the client's time is messed up.
    created: function() {
        var today = (new Date()).toLocaleString('en-US', {
            timeZone: 'America/Chicago',
            year: "numeric", month: "2-digit", day: "2-digit"
        });
        var today_parts = today.split('/');
        var today_month = today_parts[0];
        var today_day = today_parts[1];
        var today_year = today_parts[2];

        this.currentDate = today_year + "-" + today_month + "-" + today_day;
        this.selectedDate = this.currentDate;
    },
    methods: {
        printSelectedDate: function() {
            console.log(this.selectedDate);
        }
    }
}
</script>