<template>
    <div>
        <v-tabs vertical v-model="currentTab">
            <v-tab>Overview</v-tab>
            <template v-for="i in year_display_count">
                <v-divider :key="'year_divider_' + (year_start + i - 1)" style="margin-top: 4px;"></v-divider>
                <v-subheader :key="'year_subheader_' + (year_start + i - 1)">{{ year_start + i - 1 }}</v-subheader>
                <v-tab v-for="month in months" :key="'year_' + (year_start + i - 1) + '_' + month">{{ month }}</v-tab>
            </template>

            <v-tab-item style="height: 100%;">
                <div style="max-width: 700px; margin: auto; margin-top: 20px;">
                    <v-text-field solo clearable placeholder="Search"></v-text-field>
                    <v-card>
                        <v-slide-y-transition group tag="v-list" class="py-0 v-list--dense"> <!-- v-list -->
                            <template v-for="month in log">
                                <v-subheader :key="'header_' + month.year + '_' + month.month">{{ month.month }}, {{ month.year }}</v-subheader>
                                <v-list-item v-for="(item, i) in month.items" :key="'item_' + month.year + '_' + month.month + '_' + i">
                                    <v-list-item-action>
                                        <v-checkbox v-if="item.type == 'task'"></v-checkbox>
                                        <v-icon v-if="item.type == 'scheduled_event'">radio_button_unchecked</v-icon>
                                    </v-list-item-action>
                                    <v-list-item-content>
                                        <v-list-item-title>{{ item.body }}</v-list-item-title>
                                        <v-list-item-subtitle v-if="item.subtitle && item.subtitle.length > 0">{{ item.subtitle }}</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                        </v-slide-y-transition>
                    </v-card>
                </div>
            </v-tab-item>

            <template v-for="i in year_display_count">
                <v-tab-item v-for="month in months" :key="'year_' + (year_start + i - 1) + '_' + month">
                    <div style="max-width: 700px; margin: auto; margin-top: 8px;">
                        <v-text-field solo clearable placeholder="Search"></v-text-field>
                        <v-card>
                            <v-list dense>
                                <v-subheader>{{ month }}, {{ year_start + i - 1 }}</v-subheader>

                                <v-slide-y-transition group tag="v-list" class="py-0 v-list--dense"> <!-- v-list -->
                                    <template v-for="month_obj in getYearMonth(year_start + i - 1, month)">
                                        <v-list-item v-for="(item, i) in month_obj.items" :key="'item_' + month_obj.year + '_' + month_obj.month + '_' + i">
                                            <v-list-item-action>
                                                <v-checkbox v-if="item.type == 'task'"></v-checkbox>
                                                <v-icon v-if="item.type == 'scheduled_event'">radio_button_unchecked</v-icon>
                                            </v-list-item-action>
                                            <v-list-item-content>
                                                <v-list-item-title>{{ item.body }}</v-list-item-title>
                                                <v-list-item-subtitle v-if="item.subtitle && item.subtitle.length > 0">{{ item.subtitle }}</v-list-item-subtitle>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </template>
                                </v-slide-y-transition>
                            </v-list>
                        </v-card>
                    </div>
                </v-tab-item>
            </template>
        </v-tabs>

        <v-scale-transition>
            <v-btn fab fixed bottom right ripple color="secondary" v-if="currentTab == 0" @click="printStuff()"><v-icon>mdi-plus</v-icon></v-btn>
            <v-btn fab fixed bottom right ripple color="primary" v-if="currentTab == 1" @click="printStuff()"><v-icon>mdi-plus</v-icon></v-btn>
        </v-scale-transition>
    </div>
</template>
<script>
export default {
    data: function() {
        return {
            currentTab: null,
            months: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            year_start: 2019,
            year_display_count: 5,
            log: [
                { year: 2019, month: "September", items: [
                    { type: "task", body: "Receive new computer from System76" },
                    { type: "task", body: "Start LifeKept" },
                    { type: "scheduled_event", body: "Networking Test", subtitle: "Scheduled: Th 12:30am - 1:45pm" }
                ]},
                { year: 2019, month: "October", items: [
                    { type: "task", body: "LifeKept Progress" }
                ]},
                { year: 2019, month: "November", items: [
                    { type: "task", body: "LifeKept Progress" }
                ]},
                { year: 2019, month: "December", items: [
                    { type: "task", body: "Finish LifeKept Website" },
                    { type: "task", body: "Start LifeKept Android App" },
                ]},
            ]
        };
    },
    methods: {
        printStuff: function() {
            console.log(this.currentTab);
        },
        getYearMonth: function(year, month) {
            return this.log.filter(function(month_obj) {
                return month_obj.year == year && month_obj.month == month;
            });
        }
    }
}
</script>