<template>
    <div>
        <v-tabs vertical>
            <v-tab>All</v-tab>
            <v-tab v-for="i in year_display_count" :key="'year_' + (year_start + i - 1)">{{ year_start + i - 1 }}</v-tab>

            <v-tab-item>
                <div style="max-width: 700px; margin: auto; margin-top: 20px;">
                    <v-text-field solo clearable placeholder="Search"></v-text-field>
                    <v-card><v-slide-y-transition group tag="v-list" class="py-0 v-list--dense"> <!-- v-list -->
                        <v-subheader :key="'header_all'">All Collections</v-subheader>
                        <v-list-item v-for="(item, item_i) in allCollections" :key="'collection_' + item_i" :to="item.to">
                            <v-list-item-content>
                                <v-list-item-title>{{ item.name }}<span v-if="item.year">, {{ item.year }}</span></v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-btn icon>
                                    <v-icon color="grey lighten-1">mdi-star</v-icon>
                                </v-btn>
                            </v-list-item-action>
                        </v-list-item>
                    </v-slide-y-transition></v-card>
                </div>
            </v-tab-item>
            <v-tab-item v-for="i in year_display_count" :key="'content_year_' + i">
                <div style="max-width: 700px; margin: auto; margin-top: 8px;">
                    <v-text-field solo clearable placeholder="Search"></v-text-field>
                    <v-card><v-slide-y-transition group tag="v-list" class="py-0 v-list--dense"> <!-- v-list -->
                        <v-subheader v-if="globalCollections.length > 0" :key="'subheader_global_' + (year_start + i - 1)">Global</v-subheader>
                        <v-list-item v-for="(item, item_i) in globalCollections" :key="'global_collection_' + item_i" :to="item.to">
                            <v-list-item-content>
                                <v-list-item-title>{{ item.name }}</v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-btn icon>
                                    <v-icon :color="!item.starred ? 'gray lighten-1' : 'yellow darken-3'">mdi-star</v-icon>
                                </v-btn>
                            </v-list-item-action>
                        </v-list-item>

                        <v-subheader :key="'subheader_' + (year_start + i - 1)">{{ year_start + i - 1 }}</v-subheader>
                        <v-list-item v-for="(item, item_i) in getYearCollections(year_start + i - 1)" :key="'collection_' + item_i" :to="item.to">
                            <v-list-item-content>
                                <v-list-item-title>{{ item.name }}</v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-btn icon>
                                    <v-icon :color="!item.starred ? 'gray lighten-1' : 'yellow darken-3'">mdi-star</v-icon>
                                </v-btn>
                            </v-list-item-action>
                        </v-list-item>
                    </v-slide-y-transition></v-card>
                </div>
            </v-tab-item>
        </v-tabs>
    </div>
</template>
<script>
export default {
    data: () => {
        return {
            year_start: 2019,
            year_display_count: 15,
            collections: [
                { name: "September", year: 2019, to: "thismonth" }, // TODO
                { name: "Reading List", starred: true, to: "readinglist" },
                { name: "Fall Schedule", starred: true, year: 2019, to: "fall_sched_2019" }
            ]
        };
    },
    computed: {
        allCollections: function() {
            // Used just so we can sort collections with no year at the top
            // TODO: The api point for getting all collections should do this sorting
            return this.collections.sort(function(a, b) {
                if (!b.year) return 1;
                return 0;
            });
        },
        globalCollections: function() {
            // Gets collections that are not associated with a year
            return this.collections.filter(function(collection) {
                return !collection.year;
            });
        }
    },
    methods: {
        // TODO: Archived collections - hide them
        getYearCollections: function (year) {
            // Filter out collections that match the passed in year or don't have a year
            // Sort so the collections without a year are at the top
            // TODO: Turn this into a backend api point?
            return this.collections.filter(function(collection) {
                //if (!collection.year) return true;
                return collection.year == year;
            });
        }
    }
}
</script>