<template>
    <v-row style="margin-right: 4px; margin-left: 4px; margin-top: 12px;">
        <v-col cols="12" sm="4">
            <v-sheet height="300">
                <v-calendar v-model="selectedDate" type="month" :value="selectedDate" :events="events"></v-calendar>
            </v-sheet>
            <div class="title text-center" style="margin-top: 20px; margin-bottom: 8px;">September, 2019 - Events</div>
        </v-col>
        <v-col cols="12" sm="8">
            <div class="title text-center" style="margin-bottom: 8px;">Log</div>
            <v-card style="max-width: 700px; margin: auto;">
                <v-list dense>
                    <v-list-item>
                        <v-list-item-action>
                            <v-checkbox></v-checkbox>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Start LifeKept</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-col>
    </v-row>
</template>
<script>
export default {
    data: function() {
        return {
            events: [],
            selectedDate: "now",
        };
    }
}
</script>