<template>
    <div style="max-width: 700px; margin: auto; margin-top: 20px;">
        <div class="title text-center" style="margin-bottom: 8px;">Today's Events</div>
        <v-card>
            <v-list dense>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon>radio_button_checked</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Data Structures</v-list-item-title>
                        <v-list-item-subtitle>9:30am - 11:00</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon>radio_button_checked</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Intro to Old Testament</v-list-item-title>
                        <v-list-item-subtitle>9:30am - 11:00</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon>radio_button_checked</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Networking</v-list-item-title>
                        <v-list-item-subtitle>9:30am - 11:00</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-card>

        <div class="title text-center" style="margin-top: 20px; margin-bottom: 8px;">Today's Log</div>
        <v-card>
            <v-list dense>
                <v-list-item>
                    <v-list-item-action>
                        <v-checkbox></v-checkbox>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>LifeKept: Dashboard page</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon>radio_button_unchecked</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Music Appreciation Test</v-list-item-title>
                        <v-list-item-subtitle>Scheduled: September 19, 9:00am - 10:00</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-card>
    </div>
</template>
<script>
export default {
    
}
</script>